altgraph==0.17.5
customtkinter==6.0.0
packaging==26.2
pefile==2024.8.26
pillow==12.3.0
pillow_heif==1.4.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32-ctypes==0.2.3
send2trash==1.8.3
setuptools==83.0.0
tksvg==0.7.4
